<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>

  /* @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  } */
</style>

<div class="main">
  <!-- Area 1 -->
  <div class="area1">
    <div class="legends">
      <div class="title">Gross Domestic Product, B &#8380;</div>
      <div class="items1">
        <div><hr><span>Other</span></div>
        <div><hr><span>ItAndTelecom</span></div>
        <div><hr><span>Per capita</span></div>
        <div><hr><span>Agriculture</span></div>
        <div><hr><span>Construction</span></div>
        <div><hr><span>Non-oil</span></div>
      </div>
    </div>
    <div class="app">
      <div class="barChartWrapper" (mouseenter)="updateCurrentElement('scrollOne')" (scroll)="updateVerticalScroll($event)" #scrollOne>
        <div class="barChart">
          <canvas baseChart
            [data]="barChartData"
            [options]="barChartOptions"
            [type]="barChartType">
          </canvas>
        </div>
        <!-- <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button> -->
      </div>
      <div class="barChartWrapper" (mouseenter)="updateCurrentElement('scrollTwo')" (scroll)="updateVerticalScroll($event)" #scrollTwo>
        <div class="barChart">
          <canvas baseChart
            [data]="barChartData2"
            [options]="barChartOptions"
            [type]="barChartType">
          </canvas>
        </div>
      </div>
    </div>
  </div>

  <!-- Area 2 -->
  <div class="area2">
    <div class="legends">
      <div class="title">Governmenet budget & foreign trade, B &#8380;</div>
      <div class="items2">
        <div><hr><span>Export</span></div>
        <div><hr><span>Import</span></div>
        <div><hr><span>Income</span></div>
        <div><hr><span>Spending</span></div>
      </div>
    </div>
    <div class="app">
      <div class="barChartWrapper" (mouseenter)="updateCurrentElement('scrollThree')" (scroll)="updateVerticalScroll($event)" #scrollThree>
        <div class="barChart">
          <canvas baseChart
            [data]="barChartData3"
            [options]="barChartOptions"
            [type]="barChartType">
          </canvas>
        </div>
        <!-- <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button> -->
      </div>
      <div class="barChartWrapper" (mouseenter)="updateCurrentElement('scrollFour')" (scroll)="updateVerticalScroll($event)" #scrollFour>
        <div class="barChart">
          <canvas baseChart
            [data]="barChartData4"
            [options]="barChartOptions"
            [type]="barChartType">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="main">
  <!-- Area 3 -->
  <div class="area3">
    <div class="legends">
      <div class="title">Currency reserves, B &#x24;</div>
      <div class="items1">
        <div><hr><span>Sofaz</span></div>
        <div><hr><span>Cbar</span></div>
        <div><hr><span>Mof</span></div>
      </div>
    </div>
    <div class="app">
      <div class="barChartWrapper" (mouseenter)="updateCurrentElement('scrollFive')" (scroll)="updateVerticalScroll($event)" #scrollFive>
        <div class="barChart">
          <canvas baseChart
            [data]="barChartData5"
            [options]="barChartOptions"
            [type]="barChartType">
          </canvas>
        </div>
        <!-- <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button> -->
      </div>
      <div class="barChartWrapper" (mouseenter)="updateCurrentElement('scrollSix')" (scroll)="updateVerticalScroll($event)" #scrollSix>
        <div class="barChart">
          <canvas baseChart
            [data]="barChartData6"
            [options]="barChartOptions"
            [type]="barChartType">
          </canvas>
        </div>
      </div>
    </div>
  </div>

  <!-- Area 4 -->
  <div class="area4">
    <div class="legends">
      <div class="title">Population</div>
      <div class="items3">
        <div><hr><span>Workforce (k)</span></div>
        <div><hr><span>Salary (&#8380;)</span></div>
        <div><hr><span>Unemployed (k)</span></div>
      </div>
    </div>
    <div class="app">
      <div class="barChartWrapper" (mouseenter)="updateCurrentElement('scrollSeven')" (scroll)="updateVerticalScroll($event)" #scrollSeven>
        <div class="barChart">
          <canvas baseChart
            [data]="barChartData7"
            [options]="barChartOptions"
            [type]="barChartType">
          </canvas>
        </div>
        <!-- <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button> -->
      </div>
      <div class="barChartWrapper" (mouseenter)="updateCurrentElement('scrollEight')" (scroll)="updateVerticalScroll($event)" #scrollEight>
        <div class="barChart">
          <canvas baseChart
            [data]="barChartData8"
            [options]="barChartOptions"
            [type]="barChartType">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

