/* You can add global styles to this file, and also import other style files */

// Scroll customize
::-webkit-scrollbar {
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@media only screen and (max-width: 1024px) {
  .main {
    display: block !important;
  }
}


.main {
  display: flex;
  justify-content: center;
  justify-items: center;
}
.main {
  .area1, .area2, .area3, .area4{
    margin: 10px;
    background: #f1f4fa;
    border: 1px solid #e0e7f5;
    border-radius: 15px;
  }
}
.app {
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 5px;
  //   border: 1px solid red;
}
.app .barChartWrapper:nth-child(1){
  border-right-style: dashed;
  border-right-width: 2px;
  border-right-color: #D3D3D3;
}
.barChartWrapper {
  width: 250px;
  overflow-x: scroll;
}

.barChart {
  height: 250px;
  width: 500px;
  position: relative;
}

.legends .items1,
.legends .items2,
.legends .items3,
.legends .title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 15px;
}
.legends .title {
  font-weight: 800;
  font-size: 14px;
  padding-bottom: 5px;
}
// Area 1
.legends .items1 {
  div {
    display: flex;
    gap: 3px;
  }
  // line
  :nth-child(n) hr {
    border: none;
    width: 7px;
    position: relative;
    top: -2px;
  }
  :nth-child(1) hr {
    border-top: 1px solid rgba(46,125,158,255);
    border-width: 7px;
  }
  :nth-child(2) hr {
    border-top: 1px solid rgba(229,120,114,255);
    border-width: 7px;
  }
  :nth-child(3) hr {
    border-top: 1px solid rgba(65,188,170,255);
    border-width: 7px;
  }
  :nth-child(4) hr {
    border-top: 1px solid rgba(255,192,0,255);
    border-width: 7px;
  }
  :nth-child(5) hr {
    border-top: 1px solid rgba(140,189,107,255);
    border-width: 7px;
  }
  :nth-child(6) hr {
    border-top: 1px dashed rgba(198,93,22,255);
    border-top-color: rgba(198, 93, 22, 255) !important;
    border-width: 2px;
    width: 13px;
    top: 0px;
  }
}

// Area 2
.legends .items2 {
  div {
    display: flex;
    gap: 3px;
  }
  // line
  :nth-child(1) hr,
  :nth-child(2) hr {
    border: none;
    width: 13px;
  }
  :nth-child(1) hr {
    border-top: 1px dashed rgba(198, 93, 22, 255);
    border-top-color: rgba(198, 93, 22, 255) !important;
    border-width: 2px;
  }
  :nth-child(2) hr {
    border-top: 1px dashed rgba(84, 197, 191, 255);
    border-width: 2px;
  }
  // square
  :nth-child(3) hr,
  :nth-child(4) hr {
    border: none;
    width: 7px;
    position: relative;
    top: -2px;
  }
  :nth-child(3) hr {
    border-top: 1px solid rgba(46, 125, 158, 255);
    border-width: 7px;
  }
  :nth-child(4) hr {
    border-top: 1px solid rgba(229, 120, 114, 255);
    border-width: 7px;
  }
}

// Area 4
// Area 2
.legends .items3 {
  div {
    display: flex;
    gap: 3px;
  }
  // line
  :nth-child(1) hr {
    border: none;
    width: 13px;
  }
  :nth-child(1) hr {
    border-top: 1px dashed rgba(198, 93, 22, 255);
    border-top-color: rgba(198, 93, 22, 255) !important;
    border-width: 2px;
  }
  // square
  :nth-child(2) hr {
    border: none;
    width: 7px;
    position: relative;
    top: -2px;
    border-top: 1px solid rgba(46,125,158,255);
    border-width: 7px;
  }
  :nth-child(3) hr {
    border: none;
    width: 7px;
    position: relative;
    top: -2px;
    border-top: 1px solid rgba(46,125,158,255);
    border-width: 7px;
  }
}
